In [38]:
import numpy as np
import pandas as pd 
from datetime import datetime

In [95]:
smart_home = pd.read_csv(r"C:\Users\Cornel\Documents\5. Projects\Smart Home\Smart Home Dataset\Smart Home Dataset with weather Information\HomeC.csv")

C:\Users\Cornel\AppData\Local\Temp\ipykernel_5844\2926568058.py:1: DtypeWarning: Columns (0,27) have mixed types. Specify dtype option on import or set low_memory=False.
  smart_home = pd.read_csv(r"C:\Users\Cornel\Documents\5. Projects\Smart Home\Smart Home Dataset\Smart Home Dataset with weather Information\HomeC.csv")

In [96]:
smart_home.head(4)

,time,use [kW],gen [kW],House overall [kW],Dishwasher [kW],Furnace 1 [kW],Furnace 2 [kW],Home office [kW],Fridge [kW],Wine cellar [kW],...,visibility,summary,apparentTemperature,pressure,windSpeed,cloudCover,windBearing,precipIntensity,dewPoint,precipProbability
0,1451624400,0.932833,0.003483,0.932833,0.000033,0.020700,0.061917,0.442633,0.124150,0.006983,...,10.0,Clear,29.26,1016.91,9.18,cloudCover,282.0,0.0,24.4,0.0
1,1451624401,0.934333,0.003467,0.934333,0.000000,0.020717,0.063817,0.444067,0.124000,0.006983,...,10.0,Clear,29.26,1016.91,9.18,cloudCover,282.0,0.0,24.4,0.0
2,1451624402,0.931817,0.003467,0.931817,0.000017,0.020700,0.062317,0.446067,0.123533,0.006983,...,10.0,Clear,29.26,1016.91,9.18,cloudCover,282.0,0.0,24.4,0.0
3,1451624403,1.022050,0.003483,1.022050,0.000017,0.106900,0.068517,0.446583,0.123133,0.006983,...,10.0,Clear,29.26,1016.91,9.18,cloudCover,282.0,0.0,24.4,0.0

In [14]:
smart_home.columns

Index(['time', 'use [kW]', 'gen [kW]', 'House overall [kW]', 'Dishwasher [kW]',
       'Furnace 1 [kW]', 'Furnace 2 [kW]', 'Home office [kW]', 'Fridge [kW]',
       'Wine cellar [kW]', 'Garage door [kW]', 'Kitchen 12 [kW]',
       'Kitchen 14 [kW]', 'Kitchen 38 [kW]', 'Barn [kW]', 'Well [kW]',
       'Microwave [kW]', 'Living room [kW]', 'Solar [kW]', 'temperature',
       'icon', 'humidity', 'visibility', 'summary', 'apparentTemperature',
       'pressure', 'windSpeed', 'cloudCover', 'windBearing', 'precipIntensity',
       'dewPoint', 'precipProbability'],
      dtype='object')

In [107]:
# smart_home.isnull().value_counts()

In [102]:
smart_home["windBearing"].unique()[1:10]

array([285., 281., 265., 268., 260., 259., 258., 255., 238.])

In [74]:
smart_home.dropna(subset="time", inplace= True)
smart_home["time"].isnull().value_counts()
# smart_home["time"] = smart_home["time"].astype(int)

False    503911
Name: time, dtype: int64

In [104]:
def replace_non_numeric(df: pd.DataFrame, columns):
    """
    Replaces non-numeric values in the specified columns of a Pandas dataframe with NaN.

    Parameters:
        df (pd.DataFrame): The dataframe to process.
        columns (list): A list of column names to replace non-numeric values in.

    Returns:
        pd.DataFrame: The updated dataframe with non-numeric values replaced by NaN.
    """
    for col in columns:
        if df[col].dtype == 'object':
            df.dropna(subset = col, inplace= True)
            df[col] = pd.to_numeric(df[col], errors='coerce')
        else:
            df[col] = pd.to_numeric(df[col], errors='coerce')
    return df

smart_home = replace_non_numeric(smart_home, columns= ['time', 'use [kW]', 'gen [kW]', 'House overall [kW]', 'Dishwasher [kW]',
       'Furnace 1 [kW]', 'Furnace 2 [kW]', 'Home office [kW]', 'Fridge [kW]',
       'Wine cellar [kW]', 'Garage door [kW]', 'Kitchen 12 [kW]',
       'Kitchen 14 [kW]', 'Kitchen 38 [kW]', 'Barn [kW]', 'Well [kW]',
       'Microwave [kW]', 'Living room [kW]', 'Solar [kW]', 'temperature',
       'humidity', 'visibility', 'apparentTemperature',
       'pressure', 'windSpeed', 'cloudCover', 'windBearing', 'precipIntensity',
       'dewPoint', 'precipProbability'])

In [81]:
smart_home["time"]

0         1.451624e+09
1         1.451624e+09
2         1.451624e+09
3         1.451624e+09
4         1.451624e+09
              ...
503906    1.452128e+09
503907    1.452128e+09
503908    1.452128e+09
503909    1.452128e+09
503910             NaN
Name: time, Length: 503911, dtype: float64

In [76]:
# Define a function to convert a single UTC timestamp to a formatted string
# def convert_timestamp(ts):
#     try:
#         utc_datetime = datetime.datetime.utcfromtimestamp((ts))
#         formatted_datetime = utc_datetime.strftime('%Y-%m-%d %H:%M:%S')
#         return formatted_datetime
#     except ValueError:
#         return None 

def convert_timestamp(ts):
        utc_datetime = datetime.datetime.utcfromtimestamp(ts)
        formatted_datetime = utc_datetime.strftime('%Y-%m-%d %H:%M:%S')
        return formatted_datetime
    
# Use apply() to convert the entire timestamp column to formatted strings
smart_home['time'] = smart_home['time'].apply(convert_timestamp)
# smart_home["time"]

TypeError: an integer is required (got type str)

In [53]:
import datetime

# Assuming the string is in the format "YYYY-MM-DD HH:MM:SS"
my_string = "2022-02-14 12:00:00"

# Convert string to datetime object
my_datetime = datetime.datetime.strptime(my_string, '%Y-%m-%d %H:%M:%S')

# Convert datetime object to UTC timestamp
utc_timestamp = my_datetime.timestamp()

utc_timestamp

1644836400.0